@font-face {
  font-family: "tt";
  /* Project id 3183930 */
  src: url("//at.alicdn.com/t/font_3183930_03nupbhiyrc2.woff2?t=1644907182308") format("woff2"), url("//at.alicdn.com/t/font_3183930_03nupbhiyrc2.woff?t=1644907182308") format("woff"), url("//at.alicdn.com/t/font_3183930_03nupbhiyrc2.ttf?t=1644907182308") format("truetype");
}
.tt {
  font-family: "tt" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tt-gengduo:before {
  content: "\e602";
}
.tt-fenxiang:before {
  content: "\e603";
}
.tt-dianzan:before {
  content: "\e604";
}
.tt-guanbi:before {
  content: "\e605";
}
.tt-lishi:before {
  content: "\e606";
}
.tt-shanchu:before {
  content: "\e607";
}
.tt-pinglun:before {
  content: "\e608";
}
.tt-sousuo:before {
  content: "\e609";
}
.tt-dianzan2:before {
  content: "\e60a";
}
.tt-shipin:before {
  content: "\e60b";
}
.tt-yanzhengma:before {
  content: "\e60c";
}
.tt-wenda:before {
  content: "\e60d";
}
.tt-zuojiantou:before {
  content: "\e60e";
}
.tt-shouji:before {
  content: "\e60f";
}
.tt-wode:before {
  content: "\e610";
}
.tt-wuwangluo:before {
  content: "\e611";
}
.tt-shoucang:before {
  content: "\e612";
}
.tt-youjiantou:before {
  content: "\e613";
}
.tt-yuedu:before {
  content: "\e614";
}
.tt-zuopin:before {
  content: "\e615";
}
.tt-shouye:before {
  content: "\e616";
}
